* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#636465e6;
    position: fixed;
    width:100%;
}

#head a{
    font-size: 2rem;
    color: rgb(224, 217, 217);
    margin: 0.5rem 0.5rem 0.5rem 1rem;
    font-weight: 600;
    text-decoration: none;
}

#element {
    margin-right: 1rem;
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#element li {
    padding: 1.2rem;
}

#element li a {
    font-size: 1.1rem;
    color: rgb(224, 217, 217);
    text-decoration: none;
}

#element li a:hover{
    text-decoration: underline;
}

main #sec{
    padding: 4.5rem 1rem;
    background-image: url("wall.jpg");
    background-size: cover;
}

main #sec #container{
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}

#square{
    position: relative;
    width: 7rem;
    height: 7rem;
    left: 10px;
    border-radius: 100%;
    background:linear-gradient(45deg,rgb(37, 160, 222),rgb(92, 205, 126));
}

#textconta {
    position: relative;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.391);
    padding: 2rem;
    border-radius: 10px;
}

#textconta h1 ,h3 ,p ,a {
    color: rgb(224, 217, 217);
    animation: hide 4s 1;
}

#textconta h1 {
    font-size: 2.8rem;
    margin: 0.2rem 0;
}

#textconta h1 span{
    color: rgb(200, 41, 41);
}

#textconta h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#textconta p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#textconta a{
    margin: auto;
    background-color: rgb(200, 41, 41);
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 15px;
}

#textconta a:hover{
    background-color: rgb(212, 61, 61);
}

#imgconta {
    width: 19rem;
    height: 19rem;
    border-radius: 100%;
}

#imgconta img {
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 100%;
}

#circle-conta{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#circle2{
    position: relative;
    background-color: #65b47a;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
}

main #sec2{
    padding: 1rem;
    background-image: url("wall2.jpg");
    background-size: cover;
}

#sec2 #heading2{
    margin: 0.5rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

#sec2 ul{
    list-style: none;    
}

#sec2 ul li article{
    padding: 1rem;
    background-color: rgb(61, 55, 55);
    border-radius: 10px;
    margin: 2rem auto;
    width: 65%;
}

#sec2 ul .liconta{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sec2 ul img{
    width: 36rem;
    height: 20rem;
    border: 2px solid rgb(26, 25, 25);
}

#sec2 ul .text2{
    text-align: center;
    margin: 0.2rem;
}

#sec2 ul h5{
    color: rgb(224, 217, 217);
    font-size: 1.5rem;
}

#sec2 ul a{
    color: aqua;
    text-decoration: none;
}

#sec2 ul a:hover{
    text-decoration: underline;
}

#sec3 {
    background-image: url("wall3.jpg");
    background-size: cover;
    padding: 3rem 1rem;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}



#sec3 #laptop_conta{
    width: 30rem;
    height: 30rem;
}

#sec3 #laptop_conta img{
    width: 100%;
    height: 100%;
}

#sec3 #aboutMe{
    background-color: rgba(0, 0, 0, 0.391);
    padding: 1.5rem;
    border-radius: 10px;
}

#sec3 #aboutMe h2{
    color: rgb(200, 41, 41);
    font-size: 2.1rem;
    text-decoration: underline;
}

#sec3 #aboutMe h3{
    color: rgb(224, 217, 217);
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

#sec3 #aboutMe p{
    font-size: 1.3rem;
}

@keyframes hide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

